{% extends 'layout.html' %}


{% block body %}

<div class="container">
   
    <center>
        <div style="margin-top:4cm;width:9cm">
            <div class="form-control">
                <form action="" method="POST">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        {{ form.username.label(class="form") }}
                        {{ form.username(class="form-control")}}
                    </div>

                    <div class="form-group">
                        {{ form.password.label(class="form") }}
                        {{ form.password(class="form-control")}}
                    </div>

                    <div class="form-group">
                        {{ form.login(class="btn btn-primary") }}
                    </div>

                </form>
            </div>
        </div>
    </center>
</div>
{% endblock%}